* {
  margin: 0;
  padding: 0;
}

:root {
  --soft-white: #e5e5e5;
  --soft-gray: #a9a9a9;
  --gray: #4e5150;
  --white: #fff;
}

body {
  padding: 17px 12px 24px 12px;
  font-weight: 600;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 12px;
}

.profile {
  width: 150px;
  max-width: 250px;
  text-align: center;
}

.profile img {
  width: 100%;
  border-radius: 16px;
}

.name {
  font-size: 14px;
  color: var(--gray);
}

.location {
  color: var(--soft-gray);
  font-size: 10px;
}

.info-container {
  display: flex;
  justify-content: space-around;
  gap: 12px;
  margin-bottom: 24px;
}

.info {
  background-color: var(--soft-white);
  border-radius: 12px;
  width: 80px;
  height: 55px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
}

.info-title {
  color: var(--gray);
  font-weight: bold;
}

.info-subtitle {
  color: var(--soft-gray);
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 24px;
}

.main__photo {
  min-width: 100%;
  height: 100%;
}

.main__photo:nth-child(1) {
  grid-row: 1/1;
  grid-column: 1/1;
}

.main__photo:nth-child(2) {
  grid-row: 1/1;
  grid-column: span 2;
}

.main__photo:nth-child(3) {
  grid-row: 2/2;
  grid-column: span 2;
}
.main__photo:nth-child(4) {
  grid-row: span 2;
  grid-column: span 1;
}

.main__photo {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.footer {
  text-align: center;
  color: var(--soft-gray);
  font-weight: 400;
}

.footer p a {
  text-decoration: none;
  color: var(--gray);
  font-weight: 700;
}

@media screen and (min-width: 500px) {
  body {
    padding: 17px 80px 24px 80px;
  }
}
@media screen and (min-width: 640px) {
  body {
    padding: 17px 120px 24px 120px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    padding: 17px 220px 24px 220px;
  }

  .header {
    margin-bottom: 40px;
  }

  .profile {
    width: 350px;
  }

  .name {
    font-size: 24px;
    color: var(--gray);
  }

  .location {
    color: var(--soft-gray);
    font-size: 14px;
  }

  .info {
    width: 120px;
    height: 60px;
  }

  .info-title {
    font-size: 18px;
  }

  .info-subtitle {
    font-size: 14px;
  }

  .main {
    margin-bottom: 80px;
  }
}
